<% var data = jsonData; %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/common.css">
  <script type="text/javascript" src="js/min/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/min/jquery.easing.1.3.min.js"></script>
  <script type="text/javascript" src="js/min/script.min.js"></script>
  <title>
    <%- data.page_title %>
  </title>
</head>

<body>
  <div class="sidebar">
    <%- include('./parts/nav', {dataType: data.navigation}) %>
    <%- include('./parts/outboundlink', {param:'param'}) %>
  </div>
  <div class="mainContents">
    <header></header>
    <%- include('./parts/top', {param:'param'}) %>
    <main>
      <%- include('./parts/about', {dataType: data.about}) %>
      <%- include('./parts/skill', {dataType: data.skill}) %>
      <%- include('./parts/work', {data: data}) %>
    </main>
    <footer>
      <small>
        <%- data.copyright %></small>
    </footer>
  </div>
</body>

</html>