<section class="lifework subSection">
  <h3 class="subSectionTitle"><span>LIFE WORK</span></h3>
  <div class="subsectionContents">
    <ul class="modalItemList jscModalGroup">
      <% dataType.lifework.forEach(function(item) { %>
      <li class="jscModalItem">
        <div class="workThumb" data-modal="image">
          <img src="<%- item.img %>" alt="">
        </div>
        <div class="workTextWrap">
          <h3 class="workTitle" data-modal="title">
            <%- item.title %>
          </h3>
          <ul class="assetsInfoList">
            <li data-modal="href"><%- item.href %></li>
            <li data-modal="date">制作時期： <%- item.date %></li>
            <li data-modal="description"><%- item.description %></li>
          </ul>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</section>